POSTGRES_DB=garagebalance
POSTGRES_USER=garagebalance
POSTGRES_PASSWORD=change_me_before_real_data
JWT_SIGNING_KEY=change-this-development-key-before-real-data-32
POSTGRES_PORT=5432
API_PORT=5080
FRONTEND_PORT=5173
